body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, rgb(9, 122, 138), rgb(0, 58, 66));
    color: white;
    display: flex;
    min-height: 100vh;
}

.sidebar {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.sidebar a {
    color: white;
    text-decoration: none;
    padding: 10px;
    width: 100%;
    text-align: center;
}

header {
    background-color: transparent;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 200px); /* Abzug der Breite der Sidebar */
}

.footer-text {
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    margin-top: auto; /* Platziert den Text am unteren Rand */
}

.faq-item {
    margin-bottom: 20px;
}

.question-btn {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    width: 100%;
    text-align: left;
}

.answer {
    display: none;
    margin-top: 10px;
}

.show-answer {
    display: block;
}

/* ... Weitere CSS-Regeln ... */

