/* Globale Stile */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(6, 171, 170);
    color: white;
    display: flex;
    min-height: 100vh;
}

/* Header-Stile */
header {
    background-color: transparent;
    padding: 2% 5%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    max-height: 40px;
    margin-right: 10px;
}

/* Hauptinhalt-Stile */
main {
    flex: 1;
    padding: 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Footer-Stile */
footer {
    background-color: transparent;
    padding: 2% 5%;
    text-align: center;
}

.footer-text {
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    margin-top: auto;
}
