/* Akkordeon-Stile für FAQ */
/* Akkordeon-Stile für FAQ */
.faq-item {
    margin-bottom: 20px;
}

.question-btn {
    background-color: rgb(0, 100, 100); /* Neue Hintergrundfarbe für Frage-Schaltflächen */
    border: none;
    color: white;
    cursor: pointer;
    width: 100%;
    text-align: left;
    font-size: 18px;
    padding: 10px; /* Leichtes Padding hinzugefügt */
}

.answer {
    display: none;
    margin-top: 10px;
}

.show-answer {
    display: block;
}
/* Akkordeon-Stile für FAQ */
/* Akkordeon-Stile für FAQ */
.faq-item {
    margin-bottom: 20px;
}

.question-btn {
    background-color: rgb(0, 100, 100); /* Neue Hintergrundfarbe für Frage-Schaltflächen */
    border: none;
    color: white;
    cursor: pointer;
    width: 100%;
    text-align: left;
    font-size: 18px;
    padding: 10px; /* Leichtes Padding hinzugefügt */
}

.answer {
    display: none;
    margin-top: 10px;
}

.show-answer {
    display: block;
}
